<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= locals.name %> · Enduire
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      <%- locals.globalCSS %>
      <%- locals.css %>
    </style>
  </head>
  <body>
    <%- locals.html %>
  </body>
</html>

